h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list-item {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container { 
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;
/* padding-left:  15px;
padding-right: 15px;  
margin-left:  auto;
margin-right:  auto; */
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}


/* =======HEADER=========== */

.header-block{
  border-bottom: 1px solid  #E7E9FC;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding-top: 24px;
  padding-bottom: 24px;
}

.header-left-list {
display: flex;
justify-content: space-between;
width: 261px;
column-gap: 40;
padding-top: 24px;
padding-bottom: 24px;
align-items: center;

}

.header-right-list{
  display: flex;
  column-gap: 40px;
  width: 344px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.web_logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
   
}

.studio_logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  /* 116.667% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.nav_link {
  color: #2e2f42;

  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  margin-left: 0;
  padding: 24px 0; 
  display: block;
}

.list-item{
  background-color: #FFFFFF;
  
  display: flex;
}


.nav_link:hover,
.nav_link:focus {
  color: #404bbf;
}
.adress-company {
  font-style: normal;
   color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.contacts{
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}



.contacts:hover,
.contacts:focus {
  color: #404bbf;
}


/* ==============HERO=============== */

.hero {
  background-color: #2e2f42;
  /* padding: 188px 0 292 0; */
  padding: 188px 0;
}

.hero_title {
  color: #fff;
  text-align: center;
  font-size: 56px;

  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  
}

.hero_button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 169px;
  border: none;
  cursor: pointer;
  display:  block;
  padding: 16px 32px;
  align-items: flex-start;
  /* gap: 10px; */
  margin-left: 636px;
  margin-right: 636px;
  margin-bottom: 188px;
  min-width: 169px;
  height: 56px;
}
.hero_button:hover,
.hero_button:focus {
  background-color: #404bbf;
  color: #fff;
}

/* ==========BENEFITS=BUM============== */

.benefits{
  padding: 120px 0;
}

.bum_title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  
  letter-spacing: 0.02em;
}

.bum-list{
  display: flex;
  gap: 24px;
}

.list-item-bum{
  width: calc((100% - 72px) / 4);
  list-style: none;
  margin-right: 24px;
  

}

.list-item-bum:last-child{
  margin-right: 0;
}


.bum_text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}


/* ============OUR TEAM=========== */

.team-member{
  padding: 120px 0;
  
}

.team_main_title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list{
  display: flex;
  gap: 24px;
}

.list-team-item{
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    border: none;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list-dsc-container{
  padding: 32px 0;
}

.team-member{
  background-color:  #F4F4FD;

  
}

.team_title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
 
  text-align: center;
  margin-bottom: 8px;
}

.team_text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  
  text-align: center;
}

                                  /* ================PORTFOLIO============= */



.portfolio-section{
  padding: 120px 0;
  }

  

.portfolio-main-title {
    
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
    }

  .portfolio-list-item{
     width: 360px;
     width: calc((100% - 48px) / 3);
      
  }

  .portfolio-description{
    padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
  }

 

.portfolio_title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}


.portfolio_text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}


/* =========================FOOTER================== */

.footer-block {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-container{
  display: inline-block;
  margin-bottom: 16px;
}

.studio_logo_footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer_text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}
